##############################
## Java
##############################
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

